@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw;
  height: 100vh; */
  overflow-x: hidden;
  @apply font-sans
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

/* scrollbar custom */
::-webkit-scrollbar {
  display: none;
}

input {
  @apply p-4 outline-none border-b-main m-3 border-t-0 border border-x-0
}

li {
  list-style-type: none;
  @apply hover:bg-white hover:rounded hover:text-main hover:font-semibold hover:cursor-pointer duration-200
}
